.link-item {
  text-decoration: none;
  color: #ffffff;
}
.ipl-home {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ipl-logo-heading {
  display: flex;
  align-items: center;
}
.home-heading {
  font-size: 3.5rem;
  color: #ffffff;
}
.logo-image {
  width: 4rem;
  margin: 0 10px 0 0;
}
.team-cards {
  display: flex;
  padding: 0;
  list-style-type: none;
  flex-wrap: wrap;
}
